alembic
Babel
blinker
certifi
chardet
click
dnspython
dominate
email-validator
Flask
Flask-Babel
Flask-Bootstrap
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
langdetect
Mako
MarkupSafe
PyJWT
python-dateutil
python-dotenv
python-editor
pytz
requests
six
SQLAlchemy
urllib3
visitor
Werkzeug
WTForms
